In [ ]:
# Part 1 Containers

You must execute the next cell, which we will refer to as the **data cell**, to do the problems in this section.

In [ ]:
# Data cell

epsilon_left = 'abcde'
epsilon_right = 'zyxwv'
epsilon = list(zip(epsilon_left,epsilon_right))
fruit = ['tomato','cabbage','persimmon','rambutan','mangosteen']
frittata = {'alpha': epsilon_left + epsilon_right,
            'beta': epsilon_right + epsilon_left,
            'delta': fruit,
            'gamma': dict(epsilon)}

Using the containers in the data cell, write a single Python expression (so, **not** a for-loop) which returns the given values.  Sometimes there are actually many possible answers.  Try for the simplest.

# 1.1

Return `'bc'`.

In [4]:
print(epsilon_left[1:3])

bc

# 1.2

Return `'dezy'`.

In [6]:
print(epsilon_left[3:5]+epsilon_right[0:2])

dezy

# 1.3

Return `'persimmon'`.

In [5]:
print(fruit[2])

persimmon

# 1.4

Return `'but'`.

In [6]:
print(fruit[3][3:6])

but

# 1.5

Return '`{'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v'}`'

In [7]:
dict(epsilon)

{'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w', 'e': 'v'}

# 1.6

Return 

`[('c', 'x'), ('d', 'w')]`

In [8]:
print(epsilon[2:4])

[('c', 'x'), ('d', 'w')]

# 1.7

Compare the results in the next two cells.

Explain why one expression raises an `Exception` and the other does not, even
though both involve accessing data defined in `epsilon`.

In [11]:
epsilon['c']

TypeError: ignored

In [12]:
frittata['gamma']['c']

'x'

epislon is a list, so an item must be selected using an index which is an integer starting at 0. 
frittata is a dictionary, so an element is selected using a key

# Part 2 Functions, Loops

You must execute the data cell to do the problems in this section.

In [5]:
# Data cell

import numpy as np

xx = np.arange(0,22,3)

sad_story = """Billy the Kid lived in the Wild West long ago .
He was an outlaw .
He was friends with Pat Garrett who was a lawman .
One day Pat Garrett had to bring Billy the Kid in .
Billy would not come .
They had a gunfight and Pat shot his friend Billy .
"""

# 2.1

Write a loop (it can be a list comprehension) that computes a list of the odd numbers in `xx`.

Do not import any python packages to help (that would suggest that you have
not been doing the material in the first part of the class and have done a google search to solve this problem).

You may find it useful to be reminded of the `%`-operator:

x%y

returns the remainder when x is divided by y.  So, for example,

```
>>> 17%3
2
```

Note: although `xx` is a numpy array, for the purposes of this section you
may treat it as if it were a list.

In [10]:
odds = [n for n in xx if n % 2 == 1]
print(odds)

[3, 9, 15, 21]

# 2.2

Write a for-loop (it may be a list comprehension) that builds a list containing all instances of the letter  `f` in `sad_story`

In [11]:
#Convert sad_story string to list of characters
sad_storyList = [letter for letter in sad_story]
print(sad_storyList)
#List comprehension, check for instances of 'f'
f_letters= [letter for letter in sad_storyList if letter=='f']
print(f_letters)

['B', 'i', 'l', 'l', 'y', ' ', 't', 'h', 'e', ' ', 'K', 'i', 'd', ' ', 'l', 'i', 'v', 'e', 'd', ' ', 'i', 'n', ' ', 't', 'h', 'e', ' ', 'W', 'i', 'l', 'd', ' ', 'W', 'e', 's', 't', ' ', 'l', 'o', 'n', 'g', ' ', 'a', 'g', 'o', ' ', '.', '\n', 'H', 'e', ' ', 'w', 'a', 's', ' ', 'a', 'n', ' ', 'o', 'u', 't', 'l', 'a', 'w', ' ', '.', '\n', 'H', 'e', ' ', 'w', 'a', 's', ' ', 'f', 'r', 'i', 'e', 'n', 'd', 's', ' ', 'w', 'i', 't', 'h', ' ', 'P', 'a', 't', ' ', 'G', 'a', 'r', 'r', 'e', 't', 't', ' ', 'w', 'h', 'o', ' ', 'w', 'a', 's', ' ', 'a', ' ', 'l', 'a', 'w', 'm', 'a', 'n', ' ', '.', '\n', 'O', 'n', 'e', ' ', 'd', 'a', 'y', ' ', 'P', 'a', 't', ' ', 'G', 'a', 'r', 'r', 'e', 't', 't', ' ', 'h', 'a', 'd', ' ', 't', 'o', ' ', 'b', 'r', 'i', 'n', 'g', ' ', 'B', 'i', 'l', 'l', 'y', ' ', 't', 'h', 'e', ' ', 'K', 'i', 'd', ' ', 'i', 'n', ' ', '.', '\n', 'B', 'i', 'l', 'l', 'y', ' ', 'w', 'o', 'u', 'l', 'd', ' ', 'n', 'o', 't', ' ', 'c', 'o', 'm', 'e', ' ', '.', '\n', 'T', 'h', 'e', 'y', ' ', 'h', 'a', 'd', ' ', 'a', ' ', 'g', 'u', 'n', 'f', 'i', 'g', 'h', 't', ' ', 'a', 'n', 'd', ' ', 'P', 'a', 't', ' ', 's', 'h', 'o', 't', ' ', 'h', 'i', 's', ' ', 'f', 'r', 'i', 'e', 'n', 'd', ' ', 'B', 'i', 'l', 'l', 'y', ' ', '.', '\n']
['f', 'f', 'f']

# 2.3

Write a for-loop (it may be a list comprehension) that builds a list containing all instances of the word  `Kid` in `sad_story`.

In [12]:
#Convert sad_story string to list of words
sad_story_list = sad_story.split(" ") 
print(sad_story_list)
#list comprehension check for substring 'Kid'
KidList = [word for word in sad_story_list if word in 'Kid']
print(KidList)

['Billy', 'the', 'Kid', 'lived', 'in', 'the', 'Wild', 'West', 'long', 'ago', '.\nHe', 'was', 'an', 'outlaw', '.\nHe', 'was', 'friends', 'with', 'Pat', 'Garrett', 'who', 'was', 'a', 'lawman', '.\nOne', 'day', 'Pat', 'Garrett', 'had', 'to', 'bring', 'Billy', 'the', 'Kid', 'in', '.\nBilly', 'would', 'not', 'come', '.\nThey', 'had', 'a', 'gunfight', 'and', 'Pat', 'shot', 'his', 'friend', 'Billy', '.\n']
['Kid', 'Kid']

# 2.4

Write a for loop that creates a dictionary containing the counts of all the words
in `sad_story`.  Do not import any Python modules. 

Call your dictonary `wd_cts`.  If your program is correct `wd_cts`
should contain the following count:

```
>>> wd_counts['in']
2
```

In [14]:
words = []
words = sad_story.split()
freq = [words.count(i) for i in words]
wd_cts = dict(zip(words, freq))
print(wd_cts)

{'Billy': 4, 'the': 3, 'Kid': 2, 'lived': 1, 'in': 2, 'Wild': 1, 'West': 1, 'long': 1, 'ago': 1, '.': 6, 'He': 2, 'was': 3, 'an': 1, 'outlaw': 1, 'friends': 1, 'with': 1, 'Pat': 3, 'Garrett': 2, 'who': 1, 'a': 2, 'lawman': 1, 'One': 1, 'day': 1, 'had': 2, 'to': 1, 'bring': 1, 'would': 1, 'not': 1, 'come': 1, 'They': 1, 'gunfight': 1, 'and': 1, 'shot': 1, 'his': 1, 'friend': 1}

# 2.5

Write a **function** `find_word_forms` that takes a string `text_str` and a word `form` as its **two** arguments and returns all **words** in `text_str` that begin with `form`.
Write this without importing any Python modules.

Here are some tests that your function should pass:

```
>>> find_word_forms(sad_story, 'friend')
['friends', 'friend']
>>> find_word_forms("I'm singing in the rain", 'friend')
[]
>>> find_word_forms("I'm singing in the rain", 'in')
['in']
>>> find_word_forms("I'm singing in the rain", 'sing')
['singing']
>>> find_word_forms("I'm finding you fine", 'fin')
['finding', 'fine']
>>> find_word_forms(sad_story, 't')
['the', 'the', 'to', 'the']
```

Hint:  You may find it helpful to remember the
string method `startswith`.

In [ ]:
def find_word_forms(text_str,form):
  text_str_list = text_str.split()
  print(text_str_list)
  yes_match=[text_str.startswith(form)]
  if yes_match:
    print(form.split())
  else: 
    print('[]')

# take input
#I'm finding you fine, fin
text_str=input('Enter a string: ') 
form=input('Enter a word form: ')

# calling function
find_word_forms(text_str,form)

def find_word_forms(text_str,form):
  text_str_list = text_str.split()
  print (text_str_list)
  yes_match = [text_str.startswith(form)]
  f_letters= [letter for letter in sad_storyList if letter=='f']
  if yes_match:
    print(form.split())
  else:
    print('no match')

# take input
text_str=input('Enter a string: ')
form=input('Enter a word form: ')

# calling function
find_word_forms(text_str,form)

# 2.6

Write a function that converts degrees to radians. You are allowed
to use the following import statement:

```
from numpy import pi
```

The formula is

```
Radians = (Degrees/360) * 2 * pi
```

Here are some tests

```
>>> deg2rad(360)
6.283185307179586
>>> deg2rad(90)
1.5707963267948966
>>> deg2rad(72)
1.2566370614359172
```

# Part 3 Numpy arrays

You must execute the next cell to do the problems in this section.

In [ ]:
# Data cell

import numpy as np

xx = np.arange(0,43,3)

yy = xx.reshape((3,5))

# 3.1

Write a single Python expression that returns 6 from `xx`

# 3.2

Write a single Python expression  that returns all members of `xx` divisible by 6.
Hint: Use a splice.

# 3.3

Write a single Python expression  that returns all members of `xx` greater than 18.
you may use a splice if you wish.

# 3.4

Write a single Python expression  that returns the following
1D array from `yy`.

```
[15, 18, 21, 24, 27]
```

# 3.5

Write a single Python expression  that returns the following
2D array from `yy`.

```
array([[ 0,  3,  6,  9, 12],
       [15, 18, 21, 24, 27]])
```

# 3.6

Write a single Python expression  that returns the following
2D array from `yy`.

```
array([[21, 24],
       [36, 39]])
```

# Part 4  Wine Data

In this exercise set, we load wine data. This is a multi class dataset that has data for three different wine types  (stored in `target` below) corresponding to three
different cultivators in a particular region of Italy.  These will just
be referred to as class_1 calss_2 and class_3 in the description below
and in the questions.
The chemical properties of the wine stored in the 2D numpy array `data` below are sufficient to identity the cultivator, but it's a challenging classification problem.

Wine recognition dataset
-----------------------------

**Data Set Characteristics:**

    :Number of Instances: 178
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash  
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2
		
     
    The wine atributes listed in their column order.
    
    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners: 

Forina, M. et al, PARVUS - 
An Extendible Package for Data Exploration, Classification and Correlation. 
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

You must evaluate the next cell to do the problems in this section.

In [ ]:
# Data cell

from sklearn.datasets import load_wine
wdata = load_wine()
data = wdata.data
target = wdata.target

**4.0**  

Write a Python expression that returns a Boolean array defining
the set of rows of the `data` array with ash level less than 2.36  and flavinoids greater than 2.03.

**4.1**

Write a Python expression that returns the rows of the `data` array 
representing  wine samples with ash level less than 2.36  and flavinoids greater
than 2.03.

**4.2**

How many such rows are there?  Show the computation.

**4.3**

Write a Python expression that returns the rows of the `data` array 
representing wine samples such that they are not of class_1 and they
have  ash levels less than 2.36  and flavinoids greater than 2.03.

**4.4**

How many such rows are there?  Show the computation.